{% extends 'partials/_base.html' %}

{% block title %}Configuración | Tumi Palace{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}
{% block content %}
    <!-- Navigation -->
    {% include 'partials/navbar_auth.html' %}

    <!-- Config user -->
    <section id="configUser">
        <div id="userData">
            <h3 class="userSectionData">Información del usuario</h3>
            {% if user.imageProfile %}
                <img src="/static/client/{{ user.imageProfile }}" alt="">
            {% else %}
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="">
            {% endif %}
            <div id="userLabels">
                <div class="userLabel">
                    <label for="nickname">Nombre de usuario</label>
                    <span id="nickname">@{{ user.nickname }}</span>
                </div>
                <div class="userLabel">
                    <label for="email">Correo electrónico</label>
                    <span id="email">{{ user.email }}</span>
                </div>
                <div class="userLabel">
                    <label for="bank">Saldo disponible</label>
                    <span id="bank">S/. {{ user.bank }}</span>
                </div>
            </div>
        </div>

        <!-- Right data -->
        <div id="userDataUpdate">
            <form method="POST" action="" id="userDataForm", enctype="multipart/form-data">
                <!-- Update info -->
                <h4 class="userSectionData">Actualización de datos</h4>
                {{ form.hidden_tag() }}
                <div class="formBox">
                    <label for="nickname">Nombre de usuario:</label>
                    {{ form.nickname }}
                </div>
                <div class="formBox">
                    <label for="email">Correo electrónico:</label>
                    {{ form.email }}
                </div>
                <div class="formBox">
                    <label for="imageProfile">Imagen de perfil:</label>
                    {{ form.imageProfile(class="imageSubmit") }}
                </div>
                <!-- Manage errors -->
                {% if form.errors %}
                    <div id="formError">
                    <div id="formErrorHeader">
                        <svg fill="#dc2626" viewBox="-3.2 -3.2 38.40 38.40" id="icon" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(6.24,6.24), scale(0.61)"><rect x="-3.2" y="-3.2" width="38.40" height="38.40" rx="19.2" fill="#fee2e2" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs> <style> .cls-1 { fill: none; } </style> </defs> <rect id="inner-path" class="cls-1" x="14.9004" y="7.2004" width="2.1996" height="17.5994" transform="translate(-6.6275 16.0001) rotate(-45)"></rect> <path d="M16,2A13.914,13.914,0,0,0,2,16,13.914,13.914,0,0,0,16,30,13.914,13.914,0,0,0,30,16,13.914,13.914,0,0,0,16,2Zm5.4449,21L9,10.5557,10.5557,9,23,21.4448Z"></path> <rect id="_Transparent_Rectangle_" data-name="<Transparent Rectangle>" class="cls-1" width="32" height="32"></rect> </g></svg>
                        <div id="formErrorDesc">
                        <h4>Error</h4>
                        <p>{{ form.errors.values()|first|replace("['", "")|replace("']", "") }}</p>
                        </div>
                    </div>
                    </div>
                {% endif %}
                <div class="formBox" id="btnForm">
                    {{ form.delete(class="btn20 btn25") }}
                    {{ form.update(class="btn20 btn24") }}
                </div>
            </form>
        </div>

     </section>
{% endblock %}