{% extends 'partials/_base.html' %}

{% block title %}Inicio | Tumi Palace{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}

    <!-- Navigation -->
    {% include 'partials/navbar_auth.html' %}
        
        <!-- Hero Wrapper-->
        <h1 id="heroGames">Juegos disponibles</h1>
        <div id="cardGamesContainer">
            {% if listGames %}
                {% for game in listGames %}
                    <div class="cardGames">
                        <h3>{{ game.name }}</h3>
                        <img src="{{ game.imageGame }}" alt="{{ game.alias }}">
                        <a class="btn btn1" href="{{url_for( game.alias )}}">Jugar</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay juegos disponibles.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}