{% extends 'partials/_base.html' %}

{% block title %}Tienda | Tumi Palace{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
{% endblock %}
{% block content %}
    <!-- Navigation -->
    {% include 'partials/navbar_auth.html' %}

    <!-- Config user -->
    <section id="configUser">
        <div id="storeUser">
            <h3 class="userSectionData">Añadir fondos</h3> 
            <form method="POST" action="" id="userDataForm", enctype="multipart/form-data">
                <!-- Requests info -->
                {{ form.hidden_tag() }}
                <div class="formBox">
                    <label for="nickname">Monto a cargar:</label>
                    {{ form.foundQuantity }}
                </div>
                <div class="formBox">
                    <label for="email">Dígitos de la tarjeta:</label>
                    {{ form.cardData }}
                </div>
                <div class="formBox">
                    <label for="email">Nombre que figura en la tarjeta:</label>
                    {{ form.cardOwner }}
                </div>
                <div class="formBox">
                    <label for="email">Día de expiración:</label>
                    {{ form.expDay }}
                </div>
                <div class="formBox">
                    <label for="email">Mes de expiración:</label>
                    {{ form.expMonth }}
                </div>
                <div class="formBox">
                    <label for="email">Mes de expiración:</label>
                    {{ form.expYear }}
                </div>
                {{ form.submit(class="btn20 btn24") }}
            </form>
        </div>
     </section>
{% endblock %}