aiohttp
aiosignal
alembic
anaconda
argcomplete
asttokens
async-generator
async-timeout
attrs
Authlib
autopep8
azure-common
azure-core
azure-identity
azure-mgmt-core
azure-mgmt-rdbms
azure-mgmt-resource
azure-mgmt-subscription
Babel
backcall
bcrypt
beautifulsoup4
bidict
bleach
blinker
boto3
botocore
Brotli
cairocffi
certifi
cffi
chardet
charset-normalizer
chatGPT @ git+https://github.com/mmabrouk/chatgpt-wrapper@fd6fec7d4d6d5be7591665df9dd4cc17ae12e664
click
comm
commonmark
cryptography
cssselect2
dataclasses-json
debugpy
decorator
defusedxml
distlib
distro
dnspython
docutils
email-validator
eventlet
exceptiongroup
executing
fastjsonschema
filelock
Flask
Flask-Babel
Flask-Compress
Flask-Gravatar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Paranoid
Flask-Principal
Flask-Security-Too
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
fonttools
frozenlist
greenlet
h11
html5lib
httpagentparser
idna
ipykernel
ipython
isodate
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
langchain
ldap3
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib-inline
mdurl
mistune
mpris2
msal
msal-extensions
msrest
multidict
mypy-extensions
names
nbclient
nbconvert
nbformat
nest-asyncio
numpy
oauthlib
openai
outcome
packaging
panda
pandocfilters
paramiko
parso
passlib
pexpect
pgadmin4
pickleshare
Pillow
platformdirs
playwright
ply
prompt-toolkit
psutil
psycopg2
psycopg2-binary
pure-eval
pyasn1
pycairo
pycodestyle
pycparser
pydantic
pydyf
pyee
Pygments
PyJWT
PyNaCl
pyotp
pyperclip
pyphen
pypng
pyrsistent
pyscopg2
PySocks
python-dateutil
python-decouple
python-engineio
python-frontmatter
python-socketio
pytz
pyxdg
PyYAML
pyzmq
qrcode
regex
requests
requests-oauthlib
rich
s3transfer
selenium
setproctitle
simplejson
six
sniffio
sortedcontainers
soupsieve
speaklater3
SQLAlchemy
sqlparse
sshtunnel
tenacity
tiktoken
tinycss2
tomli
tomlkit
tornado
tqdm
traitlets
trio
trio-websocket
typer
typing-inspect
typing_extensions
ua-parser
urllib3
user-agents
virtualenv
wcwidth
weasyprint
webencodings
Werkzeug
wsproto
WTForms
xmltodict
yarl
yq
zopfli