<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_base.css') }}"> 
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% endblock %}
    <link rel="shortcut icon" href="static/img/tumiLogo.png" type="image/x-icon">
    {% block header %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>