<!-- Navigation -->
<nav id="navbar">
    <div id="navbarLogo">
        <img src="static/img/tumiLogo.png" alt="tumiLogo">
        <h1>Tumi <br/> Palace</h1>
    </div>
    <div id="navbarAccess">
        <ul>
            <li><a href="{{url_for('login')}}">Juegos</a></li>
            <li><a href="{{url_for('login')}}">Recompensas</a></li>
            <li><a href="{{url_for('login')}}">Soporte</a></li>
            <a class="btn btn1" href="{{url_for('login')}}">Iniciar sesión</a>
            <a class="btn btn2" href="{{url_for('register')}}">Abrir cuenta</a>
        </ul>
    </div>
</nav>