#support {
  margin: 5em auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: var(--yellowHover);
  color: var(--bgColor);
  padding: 2em 3em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul li {
  text-decoration: none;
  list-style: none;
}

#support-header{
  width: 100%;
  text-align: center;
  margin: 2em 0;
}

.faq-section {
  margin-top: 20px;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  margin-bottom: 10px;
}
