{% extends 'partials/_base.html' %}

{% block title %}Abre una nueva cuenta y obten un bono | Tumi Palace{% endblock %}
{% block content %}
    <!-- Navigation -->
    {% include 'partials/navbar.html' %}

    <!-- Hero Wrapper-->
	<section id="heroWrapper">
        <div id="leftAction">
            <h3>Crea tu cuenta y recibe un bono de bienvenida de hasta</h3>
            <h5>S/. 1,000</h5>
            <a class="btn btn2" href="">Reclamar bono</a>
        </div>
        <div id="rightAction">
            <div class="cardGames">
                <img src="static/img/cardRoulette.png" alt="cardRoulette">
                <a class="btn btn1" href="{{url_for('register')}}">Ruleta del Inca</a>
                <p>Recibe el botín Inca apostando por tus números de la suerte.</p>
            </div>
            <div class="cardGames">
                <img src="static/img/cardSlots.png" alt="cardSlots">
                <a class="btn btn1" href="{{url_for('register')}}">Fortuna del Sol</a>
                <p>Obtén 3 figuras idénticas y prepárate para ganar hasta S/.100,000!</p>
            </div>
        </div>
    </section>
{% endblock %}