<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tumi Palace | Casino digital</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importing -->
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    
    <!-- Navigation -->
    <nav id="navbar">
            <div id="navbarLogo">
                <img src="static/img/tumiLogo.png" alt="tumiLogo">
                <h1>Tumi <br/> Palace</h1>
            </div>
            <div id="navbarAccess">
                <ul>
                    <li><a href="">Juegos</a></li>
                    <li><a href="">Recompensas</a></li>
                    <li class=""><a href="">Soporte</a></li>
                    <button class="btn btn1">Iniciar sesión</button>
                    <button class="btn btn2">Abrir cuenta</button>
                </ul>
            </div>
    </nav>

    <!-- Hero Wrapper-->
	<section id="heroWrapper">
        <div id="leftAction">
            <h3>Crea tu cuenta y recibe un bono de bienvenida</h3>
            <h5>S/. 500</h5>
            <button class="btn btn2">Reclamar bono</button>
        </div>
        <div id="rightAction">
            <div class="cardGames">
                <img src="static/img/cardRoulette.png" alt="cardRoulette">
                <button class="btn btn1">Jugar</button>
            </div>
            <div class="cardGames">
                <img src="static/img/cardSlots.png" alt="cardSlots">
                <button class="btn btn1">Jugar</button>
            </div>
        </div>
    </section>
	
    <!-- Call to action -->
    <section id="callToAction">
        <div id="priceStatus">
            <h4>Puedes ganar hasta</h4>
            <div id="priceMount">
                <span>S/.</span>
                <p>1</p>
                <p>9</p>
                <p>4</p>
                <p>2</p>
                <p>4</p>
                <p>5</p>
                <p>0</p>
            </div>
        </div>
    </section>

    <script src="static/js/main.js"></script>
</body>
</html>