{% extends 'partials/_base.html' %}

{% block title %}Tumi Palace | Casino Virtual{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}
{% block content %}
    <!-- Navigation -->
    {% include 'partials/navbar.html' %}

    <!-- Config user -->
    <section id="configUserMessageTemplate">
        {{ message[0] }}
     </section>
{% endblock %}