<!-- Navigation -->
<nav id="navbar">
    <div id="navbarLogo">
        <a href="{{url_for('home')}}"><img src="static/img/tumiLogo.png" alt="tumiLogo"></a>
        <a href="{{url_for('home')}}"></a><h1>Tumi <br/> Palace</h1></a>
    </div>
    <div id="navbarAccess">
        <ul>
            <li><a href="{{url_for('home')}}">Juegos</a></li>
            <li><a href="{{url_for('recompensas')}}">Recompensas</a></li>
            <li><a href="{{url_for('soporte')}}">Soporte</a></li>
            <li><a href="{{url_for('home')}}">Transacciones</a></li>
            <style>
                .btn {
                    font-family: "K2D", sans-serif;
                }
            </style>
            <a class="btn btn2" id="logoutBtn" href="{{url_for('config')}}">Configuración</a>
            <a class="btn btn2" id="deleteBtn" href="{{url_for('logout')}}">Cerrar sesión</a>
        </ul>
    </div>
</nav>