<!-- Navigation -->
<nav id="navbar">
    <div id="navbarLogo">
        <a href="{{url_for('home')}}"><img src="static/img/tumiLogo.png" alt="tumiLogo"></a>
        <h1><a href="{{url_for('home')}}" style="--color-yellow: var(--yellowBrig); text-decoration: none; color: var(--color-yellow);">Tumi <br/> Palace</a></h1>
    </div>
    <div id="navbarAccess">
        <ul>
            <li><a href="{{url_for('login')}}">Juegos</a></li>
            <li><a href="{{url_for('login')}}">Recompensas</a></li>
            <li><a href="{{url_for('soporte')}}">Soporte</a></li>
            <li><a href="{{url_for('login')}}">Transacciones</a></li>
            <a class="btn btn1" href="{{url_for('login')}}">Iniciar sesión</a>
            <a class="btn btn2" href="{{url_for('register')}}">Abrir cuenta</a>
        </ul>
    </div>
</nav>