{% extends '_base.html' %}

{% block title %}Inicio | Tumi Palace{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recompensas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block content %}

    <!-- Navigation -->
    {% include 'navbar_auth.html' %}

	
	<!-- Title -->
	<title>Recompensas</title>
	<img src="{{ url_for('static', filename='img/recompensa.jpg') }}" alt="Recompensa">
	
	<!-- Buton -->
	<form method="POST">
		<input type="submit" value="Reclamar recompensa">
	</form>

	{% endblock %}