{% extends '_base.html' %}

{% block title %}Inicio | Tumi Palace{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deposito.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block content %}

    <!-- Navigation -->
    {% include 'navbar_auth.html' %}
  
  <div class="deposit-window">
  <h2>Retiro</h2>
  
 <form action="#" method="post">
      <div class="form-group">
        <label for="amount">Monto del Retiro:</label>
        <input placeholder="Monto mínimo a retirar S/30" />
      </div>
      <button type="submit">Continuar</button>
    </form>
  </div>
 
{% endblock %}
