{% extends '_base.html' %}

{% block title %}Inicio | Tumi Palace{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roulette.css') }}">
{% endblock %}
{% block content %}

<section id="homeWrapper">
    <!-- Navigation -->
    {% include 'navbar.html' %}

    <!-- Hero Wrapper-->
    <div id="roulette">
        <div id="rouletteHeader">
            <img src="static/img/cardRoulette.png" alt="">
            <h1>Ruleta del Inca</h1>
        </div>

        <div id="roulettePool">
            <table>
                <tr>
                    <td rowspan="3" colspan="3" class="zg token">0</td>
                    <td class="b token">3</td>
                    <td class="r token">6</td>
                    <td class="b token">9</td>
                    <td class="r token">12</td>
                    <td class="b token">15</td>
                    <td class="r token">18</td>
                    <td class="b token">21</td>
                    <td class="r token">24</td>
                    <td class="b token">27</td>
                    <td class="r token">30</td>
                    <td class="b token">33</td>
                    <td class="r token">36</td>
                </tr>
                <tr>
                    <td class="token">2</td>
                    <td class="b token">5</td>
                    <td class="token">8</td>
                    <td class="b token">11</td>
                    <td class="token">14</td>
                    <td class="b token">17</td>
                    <td class="token">20</td>
                    <td class="b token">23</td>
                    <td class="token">26</td>
                    <td class="b token">29</td>
                    <td class="token">32</td>
                    <td class="b token">35</td>
                </tr>
                <tr>
                    <td class="b token">1</td>
                    <td class="token">4</td>
                    <td class="b token">7</td>
                    <td class="token">10</td>
                    <td class="b token">13</td>
                    <td class="token">16</td>
                    <td class="b token">19</td>
                    <td class="token">22</td>
                    <td class="b token">25</td>
                    <td class="token">28</td>
                    <td class="b token">31</td>
                    <td class="token">34</td>
                </tr>
                <tr>
                    <td class="tg token" rowspan="2" colspan="0"></td>
                    <td class="zg token" rowspan="1" colspan="6">1st 12</td>
                    <td class="zg token" rowspan="1" colspan="4">2nd 12</td>
                    <td class="zg token" rowspan="1" colspan="4">3rd 12</td>
                </tr>
                <tr>
                    <td class="zg token" rowspan="1" colspan="3">1 to 18</td>
                    <td class="zg token" rowspan="1" colspan="3">Even</td>
                    <td class="zg r token" rowspan="1" colspan="2"></td>
                    <td class="b token" rowspan="1" colspan="2"></td>
                    <td class="zg token" rowspan="1" colspan="3">Odd</td>
                    <td class="zg token" rowspan="1" colspan="3">19 to 36</td>
                </tr>
              </table>
        </div>

        <div id="rouletteMenu2">
            <p id="rouletteCounter">Tiempo restante: <span><span id="rouletteCounterSec">90</span> segundos</span></p>
            <p>Jugada seleccionada: <span id="actionSelected"></span> </p>
            <button id="btnActionSelected" class="btn btn2">Aceptar</button>
            <div id="roulettePasedSelected">
                <p><img src="static/img/rouletteGame/token1.png" alt="token 1"><span id="playedActions1">-</span></p>
                <p><img src="static/img/rouletteGame/token5.png" alt="token 5"><span id="playedActions5">-</span></p>
                <p><img src="static/img/rouletteGame/token10.png" alt="token 10"><span id="playedActions10">-</span></p>
                <p><img src="static/img/rouletteGame/token25.png" alt="token 25"><span id="playedActions25">-</span></p>
                <p><img src="static/img/rouletteGame/token50.png" alt="token 50"><span id="playedActions50">-</span></p>
                <p><img src="static/img/rouletteGame/token100.png" alt="token 100"><span id="playedActions100">-</span></p>
                <h3 id="winnerWrapper">Valor ganador: <span id="winnerVal">0</span></h3>
            </div>
        </div>

        <div id="rouletteMenu">
            <p>Saldo <br/>S/.<span id="userSalary">0</span></p>
            <div id="rouletteTokens">
                <a id="token1" href="" class="tokenCoin"><img src="static/img/rouletteGame/token1.png" alt="token 1"></a>
                <a id="token5" href="" class="tokenCoin"><img src="static/img/rouletteGame/token5.png" alt="token 5"></a>
                <a id="token10" href="" class="tokenCoin"><img src="static/img/rouletteGame/token10.png" alt="token 10"></a>
                <a id="token25" href="" class="tokenCoin"><img src="static/img/rouletteGame/token25.png" alt="token 25"></a>
                <a id="token50" href="" class="tokenCoin"><img src="static/img/rouletteGame/token50.png" alt="token 50"></a>
                <a id="token100" href="" class="tokenCoin"><img src="static/img/rouletteGame/token100.png" alt="token 100"></a>
            </div>
            <div id="roulleteBtn">
                <button class="btn">Clear</button>
                <button class="btn" id="rouletteSpin">Girar</button>
            </div>
        </div>

    </div>

    <!-- Javascript -->
    <script src="static/js/roulette.js"></script>

{% endblock %}