{% extends '_base.html' %}

{% block title %}Inicio | Tumi Palace{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roulette.css') }}">
{% endblock %}
{% block content %}

<section id="homeWrapper">
    <!-- Navigation -->
    <nav id="navbar">
        <div id="navbarLogo">
            <img src="static/img/tumiLogo.png" alt="tumiLogo">
            <h1>Tumi <br/> Palace</h1>
        </div>
        <div id="navbarAccess">
            <ul>
                <li><a href="{{url_for('home')}}">Juegos</a></li>
                <li><a href="">Recompensas</a></li>
                <li class=""><a href="">Soporte</a></li>
                <a class="btn btn2" href="{{url_for('register')}}">Configuración</a>
                <a class="btn btn2" href="{{url_for('register')}}">Cerrar sesión</a>
            </ul>
        </div>
    </nav>

    <!-- Hero Wrapper-->
    <div id="roulette">
        <h1>Ruleta del Inca</h1>
        <div id="roulettePool">
            <table>
                <tr>
                    <td rowspan="3" colspan="3" class="zg">0</td>
                    <td class="b">3</td>
                    <td class="r">6</td>
                    <td class="b">9</td>
                    <td class="r">12</td>
                    <td class="b">15</td>
                    <td class="r">18</td>
                    <td class="b">21</td>
                    <td class="r">24</td>
                    <td class="b">27</td>
                    <td class="r">30</td>
                    <td class="b">33</td>
                    <td class="r">36</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="b">5</td>
                    <td>8</td>
                    <td class="b">11</td>
                    <td>14</td>
                    <td class="b">17</td>
                    <td>20</td>
                    <td class="b">23</td>
                    <td>26</td>
                    <td class="b">29</td>
                    <td>32</td>
                    <td class="b">35</td>
                </tr>
                <tr>
                    <td class="b">1</td>
                    <td>4</td>
                    <td class="b">7</td>
                    <td>10</td>
                    <td class="b">13</td>
                    <td>16</td>
                    <td class="b">19</td>
                    <td>22</td>
                    <td class="b">25</td>
                    <td>28</td>
                    <td class="b">31</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td class="zg" rowspan="1" colspan="0"></td>
                    <td class="zg" rowspan="1" colspan="6">1 st 12</td>
                    <td class="zg" rowspan="1" colspan="4">2 nd 12</td>
                    <td class="zg" rowspan="1" colspan="4">3 rd 12</td>
                </tr>
                <tr>
                    <td class="zg" rowspan="1" colspan="0">1 to 18</td>
                    <td class="zg" rowspan="1" colspan="6">Even</td>
                    <td class="zg" rowspan="1" colspan="4"></td>
                    <td class="b" rowspan="1" colspan="4"></td>
                    <td class="b" rowspan="1" colspan="4">ODD</td>
                    <td class="b" rowspan="1" colspan="4">19 to 36</td>
                </tr>
              </table>
        </div>
    </div>
{% endblock %}