{% extends 'partials/_base.html' %}

{% block title %}Inicio | Tumi Palace{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slots.css') }}">
{% endblock %}
{% block content %}

<section id="homeWrapper">
    <!-- Navigation -->
    {% include 'partials/navbar_auth.html' %}
    
    <!-- Hero Wrapper-->
    <div id="roulette">
        <div id="rouletteHeader">
            <img src="static/img/cardSlots.png" alt="">
            <h1>Tragamonedas del Inca</h1>
        </div>
    </div>

    <!-- Slots Section-->
    <div id="slotsSection">
        <div id="leftInfo">
            <p><img src="static/img/slotsGame/logo2.jpeg" alt=""><span id="leftInfoMultiplied">x2</span></p>
            <p><img src="static/img/slotsGame/logo4.jpeg" alt=""><span id="leftInfoMultiplied">x4</span></p>
            <p><img src="static/img/slotsGame/logo1.jpeg" alt=""><span id="leftInfoMultiplied">x6</span></p>
            <p><img src="static/img/slotsGame/logo3.jpeg" alt=""><span id="leftInfoMultiplied">x8</span></p>
        </div>
        <div id="centerInfo">
            <div id="rouletteMain">
                <div id="rouletteMainLeft">
                    <div class="slotsResults">
                        
                        <div id="rouletteLeftUp">
                        <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>
                        
                        <div id="rouletteLeftMid">
                        <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                        <div id="rouletteLeftDown">
                        <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                    </div>
                </div>
                <div id="rouletteMainMiddle">
                    <div class="slotsResults">

                        <div id="rouletteMiddleUp">
                        <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                        <div id="rouletteMiddleMid">
                        <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                        <div id="rouletteMiddleDown">
                        <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                    </div>
                </div>
                <div id="rouletteMainRight">
                    <div class="slotsResults"> 
                        
                        <div id="rouletteRightUp">
                            <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                        <div id="rouletteRightMid">
                            <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                        <div id="rouletteRightDown">
                            <img src="static/img/slotsGame/logo3.jpeg" alt=""> 
                        </div>

                    </div>
                </div>
            </div>
            <div id="resultContainer">
                <p id="resultMessage"></p>
            </div>
            <div id="rouletteMainActions">
                <div id="roulleteMainBank">
                    <p>Saldo S/.<span id="userBank">100</span></p>
                </div>
                <div id="rouletteMainBet">
                    <p>Apuesta S/.<span id="bankBet">0</span></p>
                </div>
                <div id="rouletteMainControls">
                    <button class="btnA" id="controlDecrease">
                        -
                    </button>
                    <br />
                    <button class="btnA" id="controlIncrease">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div id="rightInfo">
            <button id="btnSpin" class="">
                <img src="static/img/slotsGame/actionStart.png" alt="">
            </button>
        </div>
    </div>

</section>
<script src="static/js/slot.js"></script>

<audio id="spin">
    <source src="static/sounds/Girar.mp3" type="audio/mpeg">
  </audio>
  
  <audio id="result">
    <source src="static/sounds/Resultado.mp3" type="audio/mpeg">
  </audio>
  
  <audio id="win">
    <source src="static/sounds/Premio.mp3" type="audio/mpeg">
  </audio>

{% endblock %}