<!-- Navigation -->
<nav id="navbar">
    <div id="navbarLogo">
        <img src="{{ url_for('static', filename='img/tumiLogo.png') }}" alt="tumiLogo">
        <h1>Tumi <br /> Palace</h1>
    </div>
    <div id="navbarAccess">
        <ul>
            <li><a href="">Juegos</a></li>
            <li><a href="">Recompensas</a></li>
            <li class=""><a href="">Soporte</a></li>
            <a class="btn btn2" id="logoutBtn" href="{{url_for('config')}}">Configuración</a>
            <a class="btn btn2" id="deleteBtn" href="{{url_for('logout')}}">Cerrar sesión</a>
        </ul>
    </div>
</nav>